<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_layout::header(~{::title},_,_)}">
    
    
    <title>Acceuil</title>
    
    
</head>
<body>
    <nav th:replace="~{_layout::navbar}"></nav>


    <div class="container mt-5">
        <h1 style="padding-top: 10%; padding-left: 40%;"> <i class="fa-solid fa-fish"></i> Accueil !!!!!!</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, autem earum. Ad earum aspernatur soluta consequatur natus ex, error atque vero cumque sapiente quidem, doloribus commodi veritatis culpa dolorem dolore?</p>
    </div>
</body>
</html>

