<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_layout::header(~{::title},_,~{::script})}">
    
    
    <title>Produits</title>
    
    <script>
      function confirmDelete(e) {
        if (!confirm("Pitié :( ")) {
          e.preventDefault();
        }
      }
    </script>
</head>
<body>
  




    <nav th:replace="~{_layout::navbar}"></nav>

    

    <div class="container mt-5">
        <h1> Nos fabuleux produits</h1>

        <div th:if="${act=='del'}" class="alert alert-dismissible alert-danger">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <p>T'AS PAS HONTE ???</p>
        </div>

        <div th:if="${act=='mod'}" class="alert alert-dismissible alert-success">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <p>Le produit [[${produit.designation}]] a bien été modifié vous êtes très beau</p>
        </div>

        <div th:if="${act=='new'}" class="alert alert-dismissible alert-success">
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <p>Le produit [[${produit.designation}]] a bien été créé vous êtes très beau</p>
        </div>
        
        <div th:if="${page.totalElements}==0">Aucun produit disponible</div>
        <div th:if="${page.totalElements}>0">

        
        <div>
            <form th:action="@{/produits}" method="get">
                <input type="hidden" name="mc" th:value="${mc}">
                <select name="s"  class="form-control" onchange="this.form.submit()">
                    <option value="5" th:selected="${page.size==5}">5</option>
                    <option value="10" th:selected="${page.size==10}">10</option>
                    <option value="15" th:selected="${page.size==15}">15</option>
                    
                </select>

            </form>

            <form th:action="@{/produits}" method="get">
                <input type="hidden" name="s" th:value="${page.size}">
                <input type="text" name="mc" class="form-control" th:value="${mc}" placeholder=" délicieux mot clé...">

            </form>
            <a th:href="@{/produitEdit(mc=${mc}, p=${page.number}, s=${page.size})}" class="btn btn-primary">Nouveau produit</a>
        </div>

        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Désignation</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
              </tr>
            </thead>
            <tbody>
              
              <tr class="table-active" th:each="prod : ${listeProduits}">
                
                <td th:text="${prod.id}"></td>
                <td th:text="${prod.designation}"></td>
                <td th:text="${#numbers.formatDecimal(prod.prix, 2, 1,'COMMA')+' &euro;' }"></td>
                <td th:text="${prod.quantite>0 ? prod.quantite : 'Ya plus'}"></td>
                <td>
                    <a th:href="@{/produitEdit(id=${prod.id} , mc=${mc}, p=${page.number}, s=${page.size})}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a onclick="confirmDelete(event)"
                    th:href="@{/produitDelete(id=${prod.id}, mc=${mc}, p=${page.number}, s=${page.size} )}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>

                </td>
                
              </tr>
            </tbody>
          </table>

          <div>
            <ul class="pagination">
              <li class="page-item" th:classappend="${page.first? 'disabled' : ''}">
                <a class="page-link" th:href="@{/produits(mc=${mc}, p=${page.number-1}, s=${page.size})}">&laquo;</a>
              
              <li class="page-item" th:each="i:${#numbers.sequence(0, page.totalPages-1)}">
                <a class="page-link" th:classappend="${page.number==i? 'active':''}"
                th:href="@{/produits(mc=${mc}, p=${i}, s=${page.size})}" th:text="${i}"></a>
              </li>
              
              <li class="page-item" th:classappend="${page.last? 'disabled' : ''}">
                <a class="page-link" th:href="@{/produits(mc=${mc}, p=${page.number+1}, s=${page.size})}">&raquo;</a>
              </li>
            </ul>
          </div>

    </div>
</div>
</body>
</html>

