<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_layout::header(~{::title},_,_)}">
    
    
    <title>edit produit</title>
    
    
</head>
<body>
    <nav th:replace="~{_layout::navbar}"></nav>

    <div class="container mt-5">
        <div class="card border-secondary">
            <h2 th:if="${produit.id==null}" class="card-header">Création produit</h2>
            <h2 th:if="${produit.id!=null}" class="card-header">Modification d'un produit</h2>

            <form th:action="@{/produitSave}" method="post"  th:object="${produit}">
                <input type="hidden" name="p" th:value="${p}">
                <input type="hidden" name="s" th:value="${s}">
                <input type="hidden" name="mc" th:value="${mc}">
                <input type="hidden" th:field="*{id}" >

                <div class="form-group">
                    <label for="designation">Designation</label>
                    <input type="text" 
                           class="form-control" th:classappend="${#fields.hasErrors('designation')?'is-invalid' : ''}"
                           id="designation" th:field="*{designation}" required>
                    <div class="invalid-feedback" th:errors="*{designation}"></div>
                </div>

                <div class="form-group">
                    <label for="prix">Prix</label>
                    <input type="number" step="0.01" 
                           class="form-control"  th:classappend="${#fields.hasErrors('prix')?'is-invalid' : ''}"
                           id="prix" th:field="*{prix}" required>                        
                    <div class="invalid-feedback" th:errors="*{prix}"></div>
                </div>

                <div class="form-group">
                    <label for="quantite">Quantité</label>
                    <input type="number" step="1" 
                           class="form-control" th:classappend="${#fields.hasErrors('quantite')?'is-invalid' : ''}"
                           id="quantite" th:field="*{quantite}" required>
                    <div class="invalid-feedback" th:errors="*{quantite}"></div>

                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Valider</button>
                    <a 
                    th:href="@{/produits(mc=${mc}, p=${p}, s=${s})}" class="btn btn-danger">Annuler</a>
                </div>

                
            </form>

        </div>

    </div>
    
</body>
</html>

